.massages {
  display: flex;
  flex-direction: column;
}

.massages .userMsg {
  clear: both;
  background-color: #2b2929;
  padding: 15px;
  ;
  border-radius: 30px;
  max-width: 60vw;
  min-width: 20vw;
  align-self: flex-end;
}

.massages .responseMsg {
  clear: both;
  background-color: #2b2929;
  padding: 15px;
  margin-top: 15px ;
  border-radius: 30px;
  max-width: 60vw;
  align-self: flex-start;
  min-width: 20vw;
}
